body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:black;
}

a:active,
a:visited,
a:focus {
    color:black
}

.red_tag {
    background: #F44336;
    color: #fff;
    padding: 10px;
}

header {
    padding-top: 5px;
    background: #00BCD4;
    position: relative;
}

header .logo {
    text-align: center;
    font-size: 30px;
    font-family: 'Ranga', cursive;
    color: #ffffff;
    border-bottom: 6px solid #0495a8;
    display: block;
}

header .open_nav {
    position: absolute;
    left:0px;
}

header .navItem {
    font-weight: 300;
    font-size: 12px;
    color:#bababa;
    padding:10px;
    border-top: 1px solid #404040;
}